body{
  background-color: #272831 ;
}

.App {
  text-align: center;
  /* background-color: #2f363b; */
  /* background-image: linear-gradient(to right, #0C1618, #004643); */
  background: #272831;
  min-height: 100vh;
}

button {
  background-color: #b39a2f;
  border: none;
  color: #311E10;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  color: rgb(106, 145, 175);
}

button:hover {
  background-color: #cdb135;}

h3 {
  margin: 0;
}

.App-header {
  /* background-color: #BBBE64; */
  background-image: linear-gradient(90deg, #bbbe64 80%, #77793d 100%);
  color: #33283c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  text-align: center; /* Center horizontally */
  font-size: calc(10px + 2vmin);
  
}

.dashboard {
  /* background-color: #BBBE64; */
  /* margin-left: 5%;
  margin-right: 5%; */
  border-radius: 10px;
}

#nav-container{
  display: grid;
  grid-template-columns: 200px 75%;
  border-style: none;
}

#outlet {
  background-color: #BBBE64;
}

/* nav sidebar and link styling */

.link-container{
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-bottom: 120px;
  /* background-color: #8c8e3b; */
  background-image: linear-gradient(180deg, #bbbe64 35%, #272831 100%);
  color: #311E10;
}

.nav-link, .nav-link:visited{
  text-decoration: none;
  color: #443850;
  font-size: x-large;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: top;
}

/* ------------------- */

.error-message {
  padding: 20px;
  background-color: #ff9800;
  color: white;
  margin: 10%;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.project-link, .project-link:visited{
  margin: 5px;
  color: #1c1d0c;
}




.nav-link a.active {
  font-size: xx-large;
  color: #F2F7F2;
}

.comment {
  color: rgb(173, 87, 72);
  font-weight: 900;
}




/* loader code */
.hidden {
  display: none;
}

.loader{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #216c9e;
  animation: spin 1s ease-in-out infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.settings-item{
  border: 5px;
  border-color: rgba(144, 188, 154, 0.696);
  border-style:groove;
  border-radius: 7px;
  margin:1em;
  padding: .5em;
}


#asset {
  border: 5px;
  border-color: rgba(134, 111, 189, 0.237);
  border-style:groove;
  border-radius: 7px;
  background-color: #052d4892;
  margin:1em;
}

#asset-comments {
  border: 5px;
  border-color: rgba(134, 111, 189, 0.237);
  border-style:groove;
  border-radius: 20px;
  margin:1em;
}

#project {
  border: 5px;
  border-color: rgba(144, 188, 154, 0.696);
  border-style:groove;
  border-radius: 7px;
  margin:1em;
  padding: .5em;
}

#sign-up, #log-in {
  border-style: groove;
  text-align: center;
  border-width: 5px;
  border-radius: 15px;
  border-color: #216c9e;
  margin: 5%;
}


.small-button {
  background-color: #8750373a;
  border: none;
  color: white;
  padding: 3px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}



input {
  background-color: #F2F7F2;
  border: none;
  color: rgba(22, 18, 127, 0.567);
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

label:hover {
  background-color: #1d165b95;
}

input[type="file"] {
  display: none;
}

label::before {
  content: "Choose file";
  color: #fff;
  background-color: #007bff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

label:hover::before {
  background-color: #0062cc;
}

input[type="file"]:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="file"]:valid + label::before {
  content: attr(data-file-name);
}

